{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 53.30469800857444,
    "longitude": -9.139530658721926,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Dublin",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "IE",
    "language": "en",
    "radius": 100
  }
}